HCM_BASE_URL=http://localhost:3001
HCM_BATCH_SECRET=assessment 
HCM_TIMEOUT_MS=5000
SYNC_ON_APPROVE=true
RECONCILE_CRON=0 */6 * * *
OPTIMISTIC_LOCK_RETRIES=3
DB_PATH=./data/timeoff.sqlite
PORT=3000
MOCK_HCM_PORT=3001

